<nav class="nav-extended green darken-4">
    <div class="nav-wrapper">
        <a [routerLink]="['/menu']" class="brand-logo"><i class="material-icons left logo">broken_image</i>iGroceries</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a [routerLink]="['/login']" class="waves-effect waves-light btn-small light-green darken-3" *ngIf="!usuarioAutenticado">Entrar ou cadastre-se</a></li>
            <li><a *ngIf="usuarioAutenticado" (click)="logoutClicked()">Sair</a></li>
        </ul>
    </div>
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
        <li class="tab"><a [routerLink]="['/']">Buscar</a></li>
        <li class="tab"><a class="active" [routerLink]="['/minhasListas']">Minhas listas</a>/li>
        <li class="tab"><a [routerLink]="['/meuCarrinho']">Meu carrinho</a></li>
        <li class="tab"><a [routerLink]="['/ofertas']">Ofertas</a></li>
        </ul>
    </div>
</nav>

<painelListas #painel *ngFor="let lista of listas" nome="{{lista.nome | uppercase }}" descricao="{{lista.descricao}}" listaProdutos="{{lista.produtos}}" class="col-md-3">
</painelListas>